### Exercise 2

#### DATA PREPRATION

### Catalog 1

In [2]:
import pandas as pd
col_list=["id","first","last","gender","Marks","selected"]
df=pd.read_csv("C:/Users/admin/Desktop/2021179045/SampleDB.csv",usecols=col_list)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [3]:
from sklearn.preprocessing import LabelEncoder

df_gender_encode=LabelEncoder()
df.gender=df_gender_encode.fit_transform(df.gender)
#one can observe that female is coded as 0 and male as 1
print(df)
print("End of listing\n\n\n")

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0     50      True
1   2       Romola  Phinnessy       0     60     False
2   3         Geri      Prium       1     65     False
3   4        Sandy   Doveston       0     95     False
4   5      Jacenta     Jansik       0     31      True
5   6  Diane-marie   Medhurst       0     45      True
6   7       Austen       Pool       1     45      True
7   8        Vanya    Teffrey       1     70     False
8   9     Giordano      Elloy       1     36     False
9  10       Rozele    Fawcett       0     50     False
End of listing

In [6]:
#now one can scale marks to remove mean

from sklearn import preprocessing
df.Marks=preprocessing.scale(df.Marks)
# print(type(df.Marks))
scaled_df=preprocessing.scale(df.Marks)
# print(type(scaled_df))
print(df)
print("Binarization of marks is completed \n\n\n\n")

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
   id        first       last  gender     Marks  selected
0   1        Leone    Debrick  Female -0.265401      True
1   2       Romola  Phinnessy  Female  0.299282     False
2   3         Geri      Prium    Male  0.581624     False
3   4        Sandy   Doveston  Female  2.275674     False
4   5      Jacenta     Jansik  Female -1.338300      True
5   6  Diane-marie   Medhurst  Female -0.547743      True
6   7       Austen       Pool    Male -0.547743      True
7   8        Vanya    Teffrey    Male  0.863966     False
8   9     Giordano      Elloy    Male -1.055958     False
9  10       Rozele    Fawcett  Female -0.265401     False
Binarization of marks is completed

In [9]:
newarr=scaled_df.reshape(-1,1)
print(type(newarr))
scaled_df_bin=preprocessing.Binarizer(threshold=0.5).transform(newarr)
df['Marks']=scaled_df_bin
print(df)
print("\n Binarixation of marks is completed\n\n")

<class 'numpy.ndarray'>
   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female    0.0      True
1   2       Romola  Phinnessy  Female    0.0     False
2   3         Geri      Prium    Male    1.0     False
3   4        Sandy   Doveston  Female    1.0     False
4   5      Jacenta     Jansik  Female    0.0      True
5   6  Diane-marie   Medhurst  Female    0.0      True
6   7       Austen       Pool    Male    0.0      True
7   8        Vanya    Teffrey    Male    1.0     False
8   9     Giordano      Elloy    Male    0.0     False
9  10       Rozele    Fawcett  Female    0.0     False

 Binarixation of marks is completed

### Catalog 2

In [6]:
import pandas as pd
col_list=["id","first","last","gender","Marks","selected"]
df=pd.read_csv("C:/Users/admin/Desktop/2021179045/SampleDB.csv",usecols=col_list)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [3]:
#let us create duplicate elementsin the given dataset
#this is done using the command concate 2 times as given below
import pandas as pd
col_list=["id","first","last","gender","Marks","selected"]
df=pd.read_csv("C:/Users/admin/Desktop/2021179045/SampleDB.csv",usecols=col_list)

df_duplicated=pd.concat([df]*2,ignore_index=True)
print(df_duplicated)

print("\n Display before duplication \n")

df_duplicates_removed=pd.DataFrame.drop_duplicates(df_duplicated)
print(df_duplicates_removed)

print("\n Display after duplication \n")

    id        first       last  gender  Marks  selected
0    1        Leone    Debrick  Female     50      True
1    2       Romola  Phinnessy  Female     60     False
2    3         Geri      Prium    Male     65     False
3    4        Sandy   Doveston  Female     95     False
4    5      Jacenta     Jansik  Female     31      True
5    6  Diane-marie   Medhurst  Female     45      True
6    7       Austen       Pool    Male     45      True
7    8        Vanya    Teffrey    Male     70     False
8    9     Giordano      Elloy    Male     36     False
9   10       Rozele    Fawcett  Female     50     False
10   1        Leone    Debrick  Female     50      True
11   2       Romola  Phinnessy  Female     60     False
12   3         Geri      Prium    Male     65     False
13   4        Sandy   Doveston  Female     95     False
14   5      Jacenta     Jansik  Female     31      True
15   6  Diane-marie   Medhurst  Female     45      True
16   7       Austen       Pool    Male     45      True
17   8        Vanya    Teffrey    Male     70     False
18   9     Giordano      Elloy    Male     36     False
19  10       Rozele    Fawcett  Female     50     False

 Display before duplication

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

 Display after duplication

### Catalog 3

In [12]:
import pandas as pd
df=pd.DataFrame({
    'm1':[50,'A',60,'A',80],
    'm2':[60,'A','60','A',80],
    'm3':[50,70,'A','A',60],
    'm4':[60,'A','A','A',60],
    'm5':['A','A','A',10,20]
})

df=df.apply(pd.to_numeric,errors='coerce')

print(df)

print('Dataframe with NaN \n\n')
#Make all the NaN in marks as zero
df['m5']=df['m5'].fillna(0)
print(df)
print("Marking m5 NaN as 0 using fillna() function \n")

df1=df.copy()
df1['m2'].fillna(df1['m2'].mean(),inplace=True)
print(df1)
print("marking m5 NaN as mean using fillna() function \n")

df2=df.copy()
df1['m3'].fillna(df1['m2'].median(),inplace=True)
print(df2)
print("marking m5 NaN as median using fillna() function \n")

#Dropping all columns having NaN
df=df.dropna(axis=1)
print(df)
print("Dropping all columns having NaN \n\n")

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   NaN
1   NaN   NaN  70.0   NaN   NaN
2  60.0  60.0   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Dataframe with NaN


     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Marking m5 NaN as 0 using fillna() function

     m1         m2    m3    m4    m5
0  50.0  60.000000  50.0  60.0   0.0
1   NaN  66.666667  70.0   NaN   0.0
2  60.0  60.000000   NaN   NaN   0.0
3   NaN  66.666667   NaN   NaN  10.0
4  80.0  80.000000  60.0  60.0  20.0
marking m5 NaN as mean using fillna() function

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
marking m5 NaN as median using fillna() function

     m5
0   0.0
1   0.0
2   0.0
3  10.0
4  20.0
Dropping all columns having NaN

### Catalog 4

In [11]:
#this catalog illustrates the use of MinMax scalling and standard scaling for finding z-scores

from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

data=asarray([[1,3],[8,5],[6,7],[8,9]])
print("\n Original data")
print(data)

scaler1=MinMaxScaler()
scaler2=StandardScaler()

scaled1=scaler1.fit_transform(data)
scaled2=scaler2.fit_transform(data)

print("\n\n the output of MinMax Scaling")
print(scaled1)

print("\n\n the output of Standard Scaling as z-score")
print(scaled2)

 Original data
[[1 3]
 [8 5]
 [6 7]
 [8 9]]


 the output of MinMax Scaling
[[0.         0.        ]
 [1.         0.33333333]
 [0.71428571 0.66666667]
 [1.         1.        ]]


 the output of Standard Scaling as z-score
[[-1.66003771 -1.34164079]
 [ 0.78633365 -0.4472136 ]
 [ 0.08737041  0.4472136 ]
 [ 0.78633365  1.34164079]]