In [18]:
import pandas as pd
id3 = pd.read_csv("Dataset/Decision Tree.csv")
id3

  CGPA Interactiveness Practical Knowledge Communication Skills Job Offer
0  >=9             Yes           Very Good                 Good       Yes
1  >=8              No                Good             Moderate       Yes
2  >=9              No             Average                 Poor        No
3  <=8              No             Average                 Good        No
4  >=8             Yes                Good             Moderate       Yes
5  >=9             Yes                Good             Moderate       Yes
6  <=8             Yes                Good                 Poor        No
7  >=9              No           Very Good                 Good       Yes
8  >=8             Yes                Good                 Good       Yes
9  >=8             Yes             Average                 Good       Yes

In [37]:
cnt = id3.count()
grp = id3.groupby(["CGPA","Job Offer"])
gcnt = grp.count()
gcnt['Interactiveness']

CGPA  Job Offer
<=8   No           2
>=8   Yes          4
>=9   No           1
      Yes          3
Name: Interactiveness, dtype: int64