Import Necessary items

In [1]:
import pandas as pd
knn = pd.read_csv("Dataset/KNN DS 1.csv")
x = knn.iloc[:, 0]
y = knn.iloc[:, 1]
z = knn.iloc[:, 2]

Test Data Set

In [2]:
t = [6.1, 40, 5]
k = 3

Finding Distance

In [3]:
import math
ds = []
for i in range(len(x)):
    x1 = (t[0] - x[i]) ** 2
    y1 = (t[1] - y[i]) ** 2
    z1 = (t[2] - z[i]) ** 2
    e = math.sqrt(x1 + y1 + z1)
    ds.append(e)
knn['Distance'] = ds
# knn

   CGPA  Assess  Project Result   Distance
0   9.2      85        9   Pass  45.283662
1   8.0      80        7   Pass  40.095012
2   8.5      81        8   Pass  41.179607
3   6.0      45        5   Fail   5.001000
4   6.5      50        4   Fail  10.057833
5   8.2      72        7   Pass  32.131138
6   5.8      38        5   Fail   2.022375
7   8.9      91        9   Pass  51.233192

Sorting and Finding Result

In [7]:
nknn = knn.sort_values(by=['Distance'])
nknn = nknn.head(k)
nknn['Inverse'] = 1/nknn['Distance']
su = nknn['Inverse'].sum()
nknn['Divide'] = nknn['Inverse']/su
s = nknn.groupby(["Result"]).sum()
s = s.sort_values(by=['Divide'],ascending=False)
if len(s) > 1:
    if[s['Divide'][0] > s['Divide'][1]]:
        print("We Choose",s.index[0],"Result",s['Divide'][0])
    else:
         print("We Choose",s.index[1],"Result",s['Divide'][1])
else:
     print("We Choose",s.index[0],"Result",s['Divide'][0])

We Choose Fail Result 0.9999999999999999